.acctg-coa {
	margin: 0; padding: 0;

	.acctg-coa--taccount {
		list-style-type: none;
	}

	.acctg-coa--taccount-type {
		list-style-type: none;
	}

	.acctg-coa--taccount-type-title {
		font-weight: 300;
		font-style: italic;
		color: #777;
	}

	.acctg-coa--taccount-title {
		font-weight: bold;
		a {
			color: #222;
		}
	}

	.acctg-coa--subentries,
	.acctg-coa--subtypes,
	.acctg-coa--taccounts {
		margin-left: 1.5em;
		-webkit-padding-start: 0;
	}

	.acctg-coa--taccount-type.lvl-0 {
		padding-top: 2.5em;

		& > .acctg-coa--taccount-type-title {
			font-size: 200%;
			display: none;
		}

		&:first-child {
			padding-top: 0;
		}
	}

	.acctg-coa--taccount-type.lvl-1 {
		padding-top: 1em;

		& > .acctg-coa--taccount-type-title {
			font-size: 150%;
		}
	}

	.acctg-coa--taccount-controls {
		visibility: hidden;
	}

	.acctg-coa--taccount-wrapper:hover .acctg-coa--taccount-controls {
		visibility: visible;
	}

	.acctg-coa--taccount-wrapper {
		&, & strong {
			cursor: default;
		}
	}
}

.acctg-report {
	thead th {
		text-align: right;
		font-weight: normal;
		font-size: x-small;
		text-decoration: underline;
		padding-left: 5px;
		&.acctg-report--placeholder {
			visibility: hidden;
		}
	}

	.acctg-report--currency {
		text-align: right;
		padding-left: 20px;
	}

	.acctg-report--totalsrow td {
		padding-bottom: 1em;
	}

	.acctg-report--multirow td {
		padding-top: 1em;
	}
}
